<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="description" content="accell.eth but it's a website">
<link rel="preload" href="/styles/app.css" as="style" />
<link rel="preload" href="/scripts/app.js" as="script">
<link rel="stylesheet" href="/styles/app.css">
